.landing{
    height:100vh;
    width:100%;
    background-image: url('/assets/background-images/background-jess.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.landing-content{
    height:100%;
    padding:16px 32px;
}

@media screen and (max-width:599px){
    .landing-content{
        padding:16px 24px;
    }
}