.landing{
    min-height:100%;
}

span{
    display:block;
}

.header{
    font-size:2.5em;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom:16px;
}

.sub-header{
    padding-bottom:16px;
    font-size:1em;
}

.custom-button{
    margin-top:8px;
}