.landing{
    min-height:100%;
    padding-top:36px;
}

span{
    display:block;
}

.header{
    font-size:2.5em;
    font-weight: 100;
}

.sub-header{
    padding-top:8px;
    font-size:0.9em;
}

.round-button{
    margin-bottom:16px;
}