<div class="about">
  <header>About</header>
  <div class="container padding-width">
    <p class="primary-border border-left">Lorem ipsum dolor sit amet, doming essent iracundia ut his. In nam malorum delectus. Ius ne brute quodsi
      suscipiantur, quo te alii dicant quaeque. Voluptatum deterruisset usu in, cu mel tantas propriae conceptam.
      Eros gloriatur mea ex, repudiare intellegebat no eum. Ei dico ullamcorper vim. Iusto forensibus te eos,
      postea
      oportere convenire cum id.</p>
    <p>Soleat voluptaria in pri. Te ius ullum civibus, no prima debitis has. Id vis consul scriptorem disputationi,
      mel ne tibique sapientem abhorreant, possit commodo nonumes sed ut. Sit ne tritani alienum. Ius putant
      diceret
      id. Populo docendi inimicus cum cu.</p>
    <p>Vero erat periculis id pri, no vim oblique erroribus, mea esse oblique ut. An stet regione laoreet qui.
      Copiosae quaestio corrumpit ne eos, et eum mucius dignissim, usu nihil maiorum apeirian no. Et facilisi
      maiestatis consequuntur pro, nobis assentior scribentur ad duo. Mollis praesent accusamus est id, eu
      iudicabit
      percipitur eum, nec tale facete oportere id.</p>
  </div>

</div>