<div class="about" fxLayout="column" fxLayoutAlign.xs="start start" fxLayoutAlign="end start">
  <div style="width:100%;">
    <header>About</header>
  <div class="container padding-width">
    <p class="primary-border border-left mat-title">Hi, I'm a passionate individual looking for my next development challenge. I chose the path of being a frontend developer as the industry is always evolving, allowing me to work on innovative projects that always keep me on my toes!</p>
    <p>After working in a client facing role in event technology company I was hungry to get my hands dirty and make the product as best as it can be. I took it upon myself to learn the skills I needed to jump into the deep in with their dev team and I haven't looked back since </p>
    <!-- <p>Have a look at my prossional and personal work I have built up over the last few years and hopefully you'll love what you see and we can make awesome web products together.</p> -->
  </div>
  </div>
  

</div>