<div class="experience">
  <header>Experience</header>
  <div class="container">
    <info-card logo="assets/galabid-logo.png" title="GalaBid Pty Ltd" subTitle="September 2018 - December 2018" commits="62"
      linesAdded="6886" linesRemoved="3312">
      <div content>
        <p>Lorem ipsum dolor sit amet, doming essent iracundia ut his. In nam malorum delectus. Ius ne brute quodsi
          suscipiantur, quo te alii dicant quaeque. Voluptatum deterruisset usu in, cu mel tantas propriae conceptam.
          Eros gloriatur mea ex, repudiare intellegebat no eum. Ei dico ullamcorper vim. Iusto forensibus te eos,
          postea
          oportere convenire cum id.</p>
        <p>Soleat voluptaria in pri. Te ius ullum civibus, no prima debitis has. Id vis consul scriptorem disputationi,
          mel ne tibique sapientem abhorreant, possit commodo nonumes sed ut. Sit ne tritani alienum. Ius putant
          diceret
          id. Populo docendi inimicus cum cu.</p>
        <p>Vero erat periculis id pri, no vim oblique erroribus, mea esse oblique ut. An stet regione laoreet qui.
          Copiosae quaestio corrumpit ne eos, et eum mucius dignissim, usu nihil maiorum apeirian no. Et facilisi
          maiestatis consequuntur pro, nobis assentior scribentur ad duo. Mollis praesent accusamus est id, eu
          iudicabit
          percipitur eum, nec tale facete oportere id.</p>
        <p>Has id latine intellegebat signiferumque, et summo propriae luptatum per. Cu tempor recusabo cum, vel
          aperiam
          insolens ea, graeci nominavi constituto eu pro. Quo at tota torquatos. No augue accusam suavitate usu. Nam ei
          mentitum hendrerit, labores ullamcorper ut sed, persius voluptaria eu mea. Exerci soleat meliore vis an, no
          habeo scripta scriptorem usu. Eos purto lucilius corrumpit ex, eum ut posse etiam comprehensam.</p>
        <p>Cum vide congue tincidunt cu, ad sea audire moderatius. Has platonem</p>
      </div>
    </info-card>
    <info-card logo="assets/crowdcomms-logo.png" title="CrowdComms Pty Ltd" subTitle="May 2017 - August 2018" commits="760"
      linesAdded="55077" linesRemoved="41909">
      <div content>
        <p>Lorem ipsum dolor sit amet, doming essent iracundia ut his. In nam malorum delectus. Ius ne brute quodsi
          suscipiantur, quo te alii dicant quaeque. Voluptatum deterruisset usu in, cu mel tantas propriae conceptam.
          Eros gloriatur mea ex, repudiare intellegebat no eum. Ei dico ullamcorper vim. Iusto forensibus te eos,
          postea
          oportere convenire cum id.</p>
        <p>Soleat voluptaria in pri. Te ius ullum civibus, no prima debitis has. Id vis consul scriptorem disputationi,
          mel ne tibique sapientem abhorreant, possit commodo nonumes sed ut. Sit ne tritani alienum. Ius putant
          diceret
          id. Populo docendi inimicus cum cu.</p>
        <p>Vero erat periculis id pri, no vim oblique erroribus, mea esse oblique ut. An stet regione laoreet qui.
          Copiosae quaestio corrumpit ne eos, et eum mucius dignissim, usu nihil maiorum apeirian no. Et facilisi
          maiestatis consequuntur pro, nobis assentior scribentur ad duo. Mollis praesent accusamus est id, eu
          iudicabit
          percipitur eum, nec tale facete oportere id.</p>
        <p>Has id latine intellegebat signiferumque, et summo propriae luptatum per. Cu tempor recusabo cum, vel
          aperiam
          insolens ea, graeci nominavi constituto eu pro. Quo at tota torquatos. No augue accusam suavitate usu. Nam ei
          mentitum hendrerit, labores ullamcorper ut sed, persius voluptaria eu mea. Exerci soleat meliore vis an, no
          habeo scripta scriptorem usu. Eos purto lucilius corrumpit ex, eum ut posse etiam comprehensam.</p>
        <p>Cum vide congue tincidunt cu, ad sea audire moderatius. Has platonem</p>
      </div>
    </info-card>
  </div>
</div>