.contact{
    min-height:100%;

    a{
        text-decoration:none;
        color: inherit;
        overflow-wrap: break-word;
    }
    
    .button-wrapper{
        padding-top:16px;
    }


    .mat-button{
        min-width:auto;
    }

    $icon-size:80px;
    mat-icon{
        width:$icon-size;
        height:$icon-size;
        font-size:$icon-size;
    }
}