<div class="contact">
  <header>Contact</header>
  <div class="container padding-width">
    <p>Looking for a passionate frontend developer who's up for a challenge, with a side of bants? Then you have
      found your guy!</p>
    <div class="mat-display-2">
      <div>
        <a [href]="email">boucherjess@gmail.com</a>
      <button mat-button class="icon-button" copy="boucherjess@gmail.com">
        <mat-icon>content_copy</mat-icon>
      </button>
      </div>
      <div>
          <a [href]="github" target="_blank">GitHub</a>
          <button mat-button class="icon-button" copy="{{github}}">
            <mat-icon>content_copy</mat-icon>
          </button>
      </div>
      
    </div>
  </div>


</div>