.contact{
    min-height:100%;
    a{
        text-decoration:none;
        color: inherit;
        overflow-wrap: break-word;
    }
    .icon-button{
        font-size:inherit;
        margin-left:8px;
        padding:8px;
    }
    $icon-size:80px;
    mat-icon{
        width:$icon-size;
        height:$icon-size;
        font-size:$icon-size;
    }
}