<!-- <div fxLayout="column" fxFlex>
  <div fxLayout="row" class="background-background-color navigation" fxLayoutAlign="end center">
    <button mat-button (click)="back()" class="round-button">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <div fxFlex class="navigation-content">
      <span>{{project.title}}</span>
    </div>
    
  </div> -->
  <iframe [src]="project.iframe | safe:'resourceUrl'"></iframe>
<!-- </div> -->
<button mat-button (click)="back()" mat-fab class="back" color="primary">
    <mat-icon>arrow_back</mat-icon>
  </button>