@import '~@angular/material/theming';
@include mat-core();

$primary: mat-palette($mat-blue, 700, 500, 900);
$accent:  mat-palette($mat-blue-grey, A200, A100, A400);
$background-color:  #000000;
$drawer-background-color: #fff;




$theme: mat-dark-theme($primary, $accent);

$background: map-get($theme, background);
$background: map_merge($background, (background: $background-color, dialog: $background-color));
$theme: map_merge($theme, (background: $background));


@include angular-material-theme($theme);

.light-theme{
    $theme: mat-light-theme($primary, $accent);
    @include angular-material-theme($theme);
}


@mixin header($theme){
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    .mat-drawer{
        // background-color:red;
    }

    .custom-fab{
        color:mat-color($primary) !important;
        border-color: mat-color($primary) !important;
        border: solid !important;
        background-color: mat-color($background, background) !important;
    }
    
    .custom-fab.mat-fab .mat-button-wrapper{
        padding:0 !important;
    }

    .custom-button{
        color:mat-color($primary) !important;
        border-color: mat-color($primary) !important;
        border: solid !important;
        border-radius: 50px !important;
        line-height: 48px !important;
        padding: 0 24px !important;
        font-weight: 600;
        min-width:none !important;
        background-color: mat-color($background, background) !important;
    }

    .background-background-color{
        background-color: mat-color($background, background);
        color: mat-color($foreground, text);
    }
    .dialog-background-color{
        background-color: mat-color($background, dialog);
        color: mat-color($foreground, text);
    }

    .primary-background{
        background-color: mat-color($primary);
    }
    .primary-background-color{
        background-color: mat-color($primary);
        color: mat-color($foreground, text);
    }
    .primary-color{
        color: mat-color($primary)
    }

    .primary-border{
        border-color: mat-color($primary)
    }

    .primary-fill{
        fill: mat-color($primary),
    }
    .primary-fill-600{
        fill: mat-color($primary, 600)
    }
    .primary-fill-500{
        fill: mat-color($primary, 500)
    }
    .primary-fill-400{
        fill: mat-color($primary, 400)
    }
    .primary-fill-300{
        fill: mat-color($primary, 300)
    }
}
@include header($theme);

